body{
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #a5b1c2;
}

header{
    background-color: #474787;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
}

header .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

header a{
    text-decoration: none;
    color: white;
}

header nav ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li a{
    transition: background-color 400ms;
    padding: 5px 10px;
}

header nav ul li a:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

main{
    padding: 10px;
}

.notification-manager{
    position: fixed;
    top: 20px;
    right: 20px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.notification{
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    animation-name: notification-hide;
    animation-delay: 5s;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    pointer-events: none;
}

.notification.notice{
    background-color: green;
}

.notification.warning{
    background-color: orange;
}

.notification.error{
    background-color: red;
}

@keyframes notification-hide {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
