<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Filmo{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <header>
            Filmo
            <nav>
                <ul>
                    <li>
                        <a href="#">Liste des films</a>
                    </li>
                    <li>
                        <a href="{{ path('main_contact') }}">Contact</a>
                    </li>
                    <li>
                        <a href="#">A propos</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>

