<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Filmo{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% include 'components/header.html.twig' %}

        <main>
            {% block body %}{% endblock %}
        </main>

        <div class="notification-manager">
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="notification {{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </body>
</html>

